*{
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.navigation{
    position: fixed;
    display: flex;
    background: rgb(150, 190, 232);
    /* margin-top: 20px; */
    height: 50px;
    z-index: 123;
}
.logo{
    margin-left: 10px;
}
.icon{
    height: 50px;
    width: 60px;
    border-radius: 20px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}
.nav_item{
    list-style-type: none;
    padding: 5px 30px 5px 30px;
}

.navlinks{
    font-size: 20px;
    text-decoration: none;
    color: rgb(91, 88, 88);
    transition: 0.5s all ease;
    text-transform: capitalize;
}

.navlinks:hover{
    color: black;
    /* text-decoration: underline; */
    /* transform: scale(1.2); */
    text-shadow: 2px 2px 5px black;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.find{
    padding:  10px 20px;
    border-radius: 5px;
    margin: 19px;
    border: 1px solid black;
    cursor: pointer;
    color: rgb(120, 104, 192);
    font-weight: bolder;
    transition: 0.3s ease;
}

.find:hover{
    color: white;
    background-color: rgb(38, 36, 188);
    border: none;
}
#findnav{
    padding: 10px 20px;
    margin-left: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: 0.4s all ease;
}

#findnav:focus{
    /* transform: scaleX(1.3); */
    border: 2px solid black;
    box-shadow: 2px 2px 4px black;
}
.cart{
    height: 50px;
    /* padding: 0px 10px; */
    /* margin-left: 1rem; */
    margin-right: 0px;
}
.cartimg{
    height: 50px;
    width: 50px;
    margin-left: 2rem;
}
.cartitems{
    /* padding: 1px; */
    /* text-align:end; */
    /* padding-right: 1rem; */
    height: 5px;
    width: 5px;
    top: 5px;
    margin-right: 1.655rem;
    /* bottom: 10px; */
    vertical-align: top;
    background-color: rgb(205, 219, 248);
    border-radius: 5px;
}
.shoedisplay{
    background: rgb(124, 158, 219);
    /* background: url(./shoebg.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    -webkit-filter: blur(5px); */
    width: 100%;
    height: fit-content;
    /* height: 610px; */
    /* margin-top: 80px; */
    /* display: grid;
    justify-content: space-around;
    align-content: center;
    grid-template-columns: 2fr 3fr;
    grid-gap: 2em;
    height: 75%; */
}
.shoecard{
    height: 470px;
}
.mainshoe{
    display: grid;
    grid-auto-flow: column;
    /* margin-top: 100px; */
    /* overflow-x: auto; */
    /* overflow-x: none; */
    overflow-y: hidden;
    z-index: 2;
}
.mainshoe::-webkit-scrollbar{
    width: 30px;
    border-radius: 15px;
}
.shoeimg{
    display: inline;
    height: 500px;
    width: 500px;
    /* display: grid; */
    padding-left: 15px;
    /* animation: float 4s linear 1s normal none ; */
    /* animation: float 4s linear 0s infinite linear normal; */
    /* animation: name; */
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes float {
    0%{transform: translate(0,0px);}
    50%{transform: translate(0,-25px);}
    100%{transform: translate(0,-0px);}
}
.shoecard{
    /* position: relative; */
    width: 1250px;
    justify-content: space-around;
    align-content: center;
    display: grid;
    grid-template-columns: 1000px;
    margin-top: 100px;
    grid-template-areas: "img detais";
    grid-template-columns: 1fr 3fr;
    grid-gap: 2em;
    grid-template-rows: 1fr 1fr;
}
.shoeimg{
    grid-area: img;
}
.shoedetails{
    /* grid-area: details; */
    padding-top: 20px;
}
/* .hunting{
    height: 100px;
    height: 80%;
} */
.shoedetails h4{
    text-align: center;
    text-transform: uppercase;
    font: 50px  bold;
    color: white;
}
.rating{
    display: flex;
    /* justify-content:; */
    align-items: center;
}
.rating i{
    padding: 10px;
}
.shoetext{
    font-style: italic;
    font-size: 23px;
    font-weight: 500;
    color: rgb(193, 207, 218);
}
.shoedetails h3{
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    padding: 15px;
}
.buynow{
    padding: 5px 10px;
    /* border: 2px solid black; */
    font-size: medium;
    color: rgb(10, 10, 10);
    transition: 0.4s ease;
    transition: 0.4s ease all;
}
.buynow:hover{
    /* color: rgb(235, 232, 232); */
    /* background-color: rgb(215, 86, 6); */
    box-shadow: 2px 2px 4px black;
    /* border: 2px solid blue; */
    outline: none;
    /* padding-bottom: 6px; */
}
.social button{
    background: none;
    border: none;
    padding: 5px 10px;
    text-decoration: underline;
}
.social button:hover{
    /* transform: translateY(-5px); */
    transform: scale(1.5);
    /* text-decoration: underline; */
}
.slidebtns{
    display: flex;
    padding:  2px 10px;
    justify-content: space-between;
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 60px;
    overflow: hidden;
    border-radius: 3px;
    /* box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.15); */
    z-index: 99;
}
.customise{
    background-color: rgb(141, 157, 210);
}
.custhead{
    font-family: Arial, Helvetica, sans-serif;
    background: url(./waves.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.custimgs{
    display: flex;
    justify-content: space-evenly;
}
.men{
    background: url(./menshoes.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 400px;
}
.women{
    background: url(./shoeswomen.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 400px;
}
.heels{
    background: url(./heels.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 400px;
}
.sandels{
    background: url(./sandals.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 400px;
}
.bootsmen{
    background: url(./menboots.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 400px;
}
.bootswomen{
    background: url(./womenboots.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 400px;
}
.pict{
    /* filter: blur(3px); */
    padding: 20px;
    margin: 20px;
    /* cursor: pointer; */
    /* color: aquamarine; */
    transition: 0.4s ease all;
}
.pict:hover{
    background-size: 130%;
    background-repeat: no-repeat;
}
.custtext{
    color: rgb(128, 223, 223);
    z-index: 456;
    text-align: center;
    margin: auto;
}
.custtext h3{
    font-weight: bold;
    font-size: 25px;
    color: aqua;
    text-decoration: underline;
}
.custtext p{
    font-style: italic;
    padding: 20px;
}
.shopnow{
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: aquamarine;
    background-color: rgb(61, 58, 58);
    border: none;
    outline: none;
    border-radius: 5px;
}
.shopnow:hover{
    transform: scale(1.3);
    background-color: rgb(92, 91, 91);
    text-decoration: line-through;
}

.about{
    background-color: rgb(153, 162, 240);
}

.about h1{
    background-color: white;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.images{
    width: 100%;
    height: 400px;
    display: flex;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    justify-content: space-around;
    align-items: center;
    /* margin: auto; */
    /* background: url(./wavebg.jpg); */
    /* background-position: center; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
}

.images img{
    width: 200px;
    height: 200px;
    /* margin: auto; */
    /* margin-left: 500px;
    margin-top: 100px; */
}

.about_info{
    padding: 10px;
    padding-bottom: 25px;
    color: rgb(212, 223, 223);
    /* margin-bottom: 15px; */
    text-overflow: none;
    font-style: italic;
    font-size: 18px;
    /* text-emphasis-color: blue; */
    /* text-decoration: italic; */
}

.signupform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 500px; */
    background-color: rgb(191, 201, 246);
}
.formhead{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
}
.signupform form{
    width: 500px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: left; */
    /* align-items: left; */
}
.formelement p{
    text-align: left;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
.formelement input{
    display: inline;
    align-items: right;
    width: 100%;
    padding: 0.7rem;
    border: none;
    outline: none;
    /* border-bottom: 2px solid red; */
    transition: 0.5s all ease;
}
.formelement input:focus{
    border: 2px solid black;
    transform: scale(1.15);
}
.sign{
    padding: 0.5rem 1rem;
    display: inline;
    margin: 10px;
    font-size: 1rem;
    color: blue;
    cursor: pointer;
    border: 1px solid black;
    transition: 0.5s all ease;
}
.sign:hover{
    transform: scale(1.25);
    margin-top: 15px;
    box-shadow: 3px 4px 4px black;
}
.formend{
    text-align: left;
    justify-items: left;
}
.login{
    /* margin-left: 5px; */
    text-align: left;
    left: 0px;
    color: rgb(252, 5, 5);
}
.login:hover{
    text-decoration: underline;
    color: brown;
}